{% extends "base.html" %}
{% block content %}
<div id="container-div" style="margin-top: 0px;">
    <ul id="nav-container">
        <li id="nav-content" style="margin-left: 1%;"><a href="/chat" id="nav-text">Chat</a></li>
        <li id="nav-content"><a href="/logout" id="nav-text">Logout</a></li>
    </ul>
    <div id="title-content">
        <a>The Hillside Chat</a>
    </div>
    <div id="chat-container">
        <div id="message-log-container"></div>
        <!-- margin: auto; top: 70%; left: 0; bottom: 0; right: 0; -->
        <div class="message-container mx-auto" style="width: 80%; margin: auto; margin-top: 3%;">
            <!-- <input type="text" placeholder="Message" id="message"/> -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Message" aria-label="Recipient's username"
                    aria-describedby="button-addon2" id="message">
                <button class="btn btn-outline-secondary" type="submit" id="add-text">Button</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}